@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-width: 100vh;
  background: #f1f5a8;
}

.container {
  position: relative;
  max-width: 1350px;
  width: 100%;
  padding: 20px;
  margin: 50px auto;
}

.filter_button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  position: relative;
  background: #b2b377;
  text-align: center;
  padding: 0 2rem;
}

.et-hero-tabs h1 {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 0.01rem;
  letter-spacing: 1rem;
}

.et-hero-tabs h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

@media (min-width: 800px) {
  .et-hero-tabs h1 {
    font-size: 3rem;
  }

  .et-hero-tabs {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background: #e5e483;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

button.active {
  background-color: #b2b377;
  color: white;
}

.filterable_cards {
  display: flex;
  margin-top: 25px;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex-grow: 1;
  flex-basis: 300px;
  background-color: #fff;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card.hide {
  display: none;
}
.card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card_body {
  padding: 15px 20px 20px;
}

.card_title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
.card_text {
  font-size: 18px;
  color: #333;
}
